html {
  scroll-behavior: smooth;
}
body {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #ccc;
  line-height: normal;
  background-color: #000;
  margin: 0;
  padding: 0;
  position: relative;
  background-repeat: no-repeat;
  background-size: contain;
}
a {
  text-decoration: none;
  color: #cac9c9;
}
h1,  h2,  h3, h4, p {
  margin: 0;
}
*:focus {
  outline: none;
}
#ah_wrapper {
  width: 1050px;
  margin: 0 auto;
  background: #2d2d2d;
  position: relative;
}
.relative {
  position: relative;
}


#navbar .nav-items a {
  padding: 7px 10px;
  margin: 3px 3px;
  font-size: 20px;
  display: inline-flex;
  background-color: #000;
  border: 1px solid #404040;
}
div#navbar .logo img {
  width: 200px;
}
.movies-list .movie-item {
  width: 20%;
  margin-bottom: 5px;
  background: #000;
  padding: 5px;
  box-sizing: border-box;
  position: relative;
  border: 2px solid #404040;
}

.movies-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between
}

.movies-list .movie-item .episode-latest {
  position: absolute;
  left: 10px;
  top: 10px;
  padding: 5px 10px;
  background-color: #383838;
  font-weight: 700;
  font-size: 14px;
  border-radius: 4px;
  border: 3px double #5a5a5a;
  letter-spacing: 1px;
}
.movies-list .movie-item .score {
  position: absolute;
  right: 10px;
  bottom: 37px;
  padding: 5px 10px;
  background-color: #903a3a;
  font-weight: 700;
  font-size: 12px;
  border-radius: 4px;
}
.movies-list .movie-item img {
  width: 100%;
  height: 235px;
  display: block;
}


.movies-list .movie-item .name-movie {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 5px;
  padding: 3px 5px;
  text-align: center;
  color: #cc8d4c;
  font-weight: 700;
}

.ah-frame-bg {
  background: #404040;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-sizing: border-box;
}
.padding-10 {
  padding: 10px;
}
.flex {
  display: flex;
}
.flex-1 {
  flex: 1;
}
.flex-hozi-center {
  align-items: center;
}

@media only screen and (min-width: 768px) and (max-width: 1000px) {
  #ah_wrapper {
    width: 100% !important;
  }
  .movies-list .movie-item {
    width: 20% !important;
  }
  .movies-list .movie-item img {
    height: 180px !important;
  }
  .owl-carousel .owl-item img {
    height: 230px;
  }
}
@media only screen and (max-width: 768px) {
  .watching-movie .list-item-episode a {
    width: 11%;
  }
  .ah-carousel {
    display: none;
  }
  .ah-form form {
    width: 100%;
  }
  #drop-down-1 .tab-content a {
    width: 33.333% !important;
  }
  .result-of-search a {
    width: 100% !important;
  }
  .checkbox_form div {
    width: 33.33% !important;
  }
  .watch-history {
    display: block !important;
  }
  .watch-history .item {
    width: 100% !important;
  }
  #ah_wrapper {
    width: 100% !important;
  }
  div#navbar .logo {
    flex: 1;
  }
  div#navbar .logo img {
    width: 150px !important;
  }
  #navbar .search-bar {
    display: none;
    margin: 5px 0;
  }
  #navbar a.toggle-search {
    display: inline-flex;
  }
  .info-movie .body {
    display: block !important;
  }
  .info-movie .head .last > div > div:first-child {
    display: none !important;
  }
  .info-movie .body .list_episode > div + div {
    max-height: 100px !important;
  }
  .info-movie .head .last > div > div {
    flex: 1 !important;
  }
  .info-movie .head .last > div > div {
    padding: 5px;
  }
  .info-movie .head .last > div {
    padding: 2px !important;
  }
  .info-movie .head .first {
    width: 30% !important;
  }
  .info-movie .head .last {
    width: 70% !important;
    font-size: 12px;
  }
}
@media only screen and (min-width: 650px) and (max-width: 768px) {
  .movies-list .movie-item {
    width: 25%;
  }
  .movies-list .movie-item img {
    height: 180px;
  }
}
@media only screen and (min-width: 550px) and (max-width: 650px) {
  .movies-list .movie-item {
    width: 33.33%;
  }
  .movies-list .movie-item img {
    height: 180px;
  }
}
@media only screen and (min-width: 450px) and (max-width: 550px) {
  .movies-list .movie-item {
    width: 33.33%;
  }
  .movies-list .movie-item img {
    height: 160px;
  }
}
@media only screen and (max-width: 450px) {
  #ah_wrapper > .ah_footer img {
    width: 150px !important;
  }
  div#navbar > div:first-child {
    flex-direction: column;
  }
  .watching-movie .list-item-episode a {
    width: 20%;
  }
  .movies-list .movie-item {
    width: 50%;
  }
  .movies-list .movie-item img {
    height: 190px !important;
  }
}
@media only screen and (max-width: 350px) {
  .movies-list .movie-item img {
    height: 160px !important;
  }
  div#view-profile .avatar img {
    width: 80px;
  }

}
